.boxview{
    width: 80%;
    margin-left: 10%;
    background: green;
}

.boxtittle{
    display: grid;
    grid-template-columns: 85% 1fr
}

.tittle{
    margin-left: 5%;
    color: rgb(120, 186, 206);
    margin-bottom: 2%;
    font-size: 80px;
    font-variant: small-caps;
}

.buttonBackCarrouselView{
  margin-left: 10%;
  transform: translate(0,-135px)
} 
.buttonBackCategoryView{
    margin-left: 10%;
    transform: translate(0,-135px)
} 
.buttonBackProductsView{
    margin-left: 10%;
    transform: translate(0,-135px)
} 